<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div>
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
    <h1>Files</h1>
    <p>Click <a href="{{ url_for('files.upload') }}">here</a> to upload files.</p>
    <br>
    <ul>
        {% for file in files %}
        <li>
            <a href="{{ file }}">{{ file }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>